DB_USERNAME :postgres.vtcgcjtroxvtsjjfattt
DB_URL: jdbc:postgresql://aws-1-ap-southeast1.pooler.supabase.com:6543/postgres
DB_USERNAME: postgres.vtcgcjtroxvtsjjfattt
DB_PASSWORDbv:@Samreen9##
MAIL_USERNAME=manumanohar1027@gmail.com
MAIL_PASSWORD=Manohar1027

